/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TODO: point input, checkm2_db, and gtdb_database to a full test dataset when
    available on nf-core/test-datasets or project assets.

    Use as follows:
        nextflow run linfengxu/CoSAG-nf -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full-size test dataset (not yet configured)'

    input          = "${projectDir}/assets/samplesheet.csv"
    outdir         = './results_test_full'
    checkm2_db     = null
    gtdb_database  = null
}
